<div id="dashboard-report" class="dashboard-container">

  <div class="live-alert">
    🔴 LIVE HEALTH MONITOR
  </div>

  <button *ngIf="selectedDisease || selectedRegion"
          class="export-btn"
          (click)="resetFilters()">
    🔄 Reset Filters
  </button>

  <div *ngIf="loading">
    Loading dashboard...
  </div>

  <div *ngIf="!loading">

    <!-- KPI CARDS -->
    <div class="kpi-grid">

      <div class="card">
        <h3>Total Records</h3>
        <p class="counter">{{ animatedTotal }}</p>
      </div>

      <div class="card">
        <h3>Average Age</h3>
        <p class="counter">{{ animatedAvgAge }}</p>
      </div>

      <div class="card">
        <h3>High-Risk Cases</h3>
        <p class="counter">{{ animatedHighRisk }}</p>
      </div>

    </div>


    <!-- CHARTS -->
    <div class="chart-grid">

      <div class="chart-card" *ngIf="diseaseChartData">
        <h3>Disease Distribution</h3>
        <canvas baseChart
          [data]="diseaseChartData"
          [options]="diseaseChartOptions"
          [type]="diseaseChartType">
        </canvas>
      </div>

      <div class="chart-card" *ngIf="regionChartData">
        <h3>Region Distribution</h3>
        <canvas baseChart
          [data]="regionChartData"
          [options]="regionChartOptions"
          [type]="regionChartType">
        </canvas>
      </div>

    </div>

  </div>

</div>