<nav class="navbar">

  <div class="logo">🏥 DoctoAnalyAI</div>

  <div class="menu-toggle" (click)="toggleMenu()">☰</div>

  <ul class="nav-links" [class.open]="menuOpen">

    <li>
      <a routerLink="/">Home</a>
    </li>

    <li>
      <a routerLink="/app/upload">Upload</a>
    </li>

    <li>
      <a routerLink="/app/dashboard">Dashboard</a>
    </li>

    <li>
      <a routerLink="/app/risk">Risk</a>
    </li>

    <li>
      <a routerLink="/app/recommendations">Recommendations</a>
    </li>

    <li>
      <a routerLink="/app/trends">Trends</a>
    </li>

  </ul>

  <button class="logout-btn" (click)="logout()">Logout</button>

</nav>