<nav class="navbar">

  <div class="logo">🏥 DoctoAnalyAI</div>

  <div class="menu-toggle" (click)="toggleMenu()">☰</div>

  <ul class="nav-links" [class.open]="menuOpen">

    <li>
  <a routerLink="/" routerLinkActive="active">Home</a>
</li>

<li>
  <a routerLink="/app/upload" routerLinkActive="active">Upload</a>
</li>

<li>
  <a routerLink="/app/dashboard" routerLinkActive="active">Dashboard</a>
</li>

<li>
  <a routerLink="/app/risk" routerLinkActive="active">Risk</a>
</li>

<li>
  <a routerLink="/app/recommendations" routerLinkActive="active">
    Recommendations
  </a>
</li>

<li>
  <a routerLink="/app/trends" routerLinkActive="active">Trends</a>
</li>

  </ul>

  <button class="logout-btn" (click)="logout()">Logout</button>

</nav>