<nav class="navbar">
<div class="logo">
  <img src="assets/logo.png" alt="DoctoAnalyAI Logo" class="logo-img">
  <span>DoctoAnalyAI</span>
</div>
  <!-- Mobile toggle -->
  <div class="menu-toggle" (click)="toggleMenu()">
    ☰
  </div>

  <ul class="nav-links" [class.open]="menuOpen">

    <li>
      <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Home</a>
    </li>

    <li>
      <a routerLink="/app/upload" routerLinkActive="active" (click)="closeMenu()">Upload</a>
    </li>

    <li>
      <a routerLink="/app/dashboard" routerLinkActive="active" (click)="closeMenu()">Dashboard</a>
    </li>

    <li>
      <a routerLink="/app/risk" routerLinkActive="active" (click)="closeMenu()">Risk</a>
    </li>

    <li>
      <a routerLink="/app/trends" routerLinkActive="active" (click)="closeMenu()">Trends</a>
    </li>

    <li>
      <a routerLink="/app/recommendations" routerLinkActive="active" (click)="closeMenu()">Recommendations</a>
    </li>

  </ul>

  <button class="logout-btn" (click)="logout(); closeMenu()">
    Logout
  </button>

</nav>